body{
    background-image: url(./flowerBG.jpg);
    background-size: cover;
    height: 100vh;
   }
   .Hee{
     margin: left 100px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bold;
   }
   .div1{
     background-color: whitesmoke;
     display: flex;
     align-items: baseline;
     gap: 600px;  
   }
   .div2 >p{
     color: 122, 0, 90;
     font-size: larger;
   }
   .div1 >h1{
     padding-left: 70px;
     font-size: 40px;
   }
   nav a{
     padding-left: 30px;
   }
   a:link{
     text-decoration:none;
   }
   ​
   nav a:visited{
     color: rgb(4, 4, 4);
   }
   nav a:hover{
     color: rgb(24, 39, 152);
   }
   nav a:active{
     color: rgb(230, 198, 16);
   }